{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Home {% endblock %}
{% block content %}
<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Welcome To The Awesome Conference</div>
            <div class="intro-heading">The Most Awesome Conference Ever</div>
            <a href="#about" class="page-scroll btn btn-xl">Tell Me More</a>
        </div>
    </div>
</header>

<!-- Services Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <h3 class="section-subheading text-muted">This is the most awesome conference you'll ever asist</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-star fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Awesomeness</h4>
                <p class="text-muted">Rediscover the meaning of the word Awesome</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-magic fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Incredible</h4>
                <p class="text-muted">You will not believe how awesome this is and how much awesome you'll find</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Amazing</h4>
                <p class="text-muted">You won't be able to contain the awesomeness and you'll explode by the marvelous stuff you're going to witness</p>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio Grid Section -->
<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Conferences</h2>
                <h3 class="section-subheading text-muted">Here's the list of the awesome conferences you're going to witness</h3>
            </div>
        </div>
        <div class="row">
          {% for p in Conferences %}
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#portfolioModal{{p.id}}" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="{{ p.Image.url }}" class="img-responsive" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>{{p.Title}}</h4>
                    <p class="text-muted">{{p.Speaker}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!-- About Section -->
<section id="sponsors">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Speakers</h2>
                <h3 class="section-subheading text-muted">The awesome people who's going to teach you how to awesome the world</h3>
            </div>
        </div>
        <div class="row">
          {% for a in Speaker %}
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="{{a.Picture.url}}" class="img-responsive img-circle" alt="">
                    <h4> {{a.Degree}} {{a.Name}} {{a.Last_Name}}</h4>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
          {% endfor %}
        </div>
    </div>
</section>
<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Register!</h2>
                <h3 class="section-subheading text-muted">Fill the form and get ready for the awesome, for free!</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form method="post">
                  {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your Name *"  name = "Name"id="id_Name" required>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                              <input type="text" class="form-control" placeholder="Your last name *" name = "Last_Name" id="id_Last_Name" required >
                              <p class="help-block text-danger"></p>
                          </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Your Age *" name = "Age" id="id_Age" required>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                              <input type="text" class="form-control" placeholder="Your E-mal *" name = "email" id="id_email" required>
                              <p class="help-block text-danger"></p>
                          </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button type="submit" class="btn btn-xl">Register</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{%for p in Conferences%}
<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal{{p.id}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>{{p.Title}}</h2>
                        <img class="img-responsive img-centered" src="{{p.Image.url}}" alt="">
                        <p>{{p.Description}}</p>
                        <ul class="list-inline">
                            <li>Date: {{p.Date}}</li>
                            <li>Time: {{p.Time}}</li>
                            <li>Speaker: {{p.Speaker}}</li>
                        </ul>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
