{% extends 'base_admin.html' %}
{% block title %}Admin{% endblock %}
{% block content %}
<div data-backdrop="static" data-keyboard="false" id = "loginmodal" class="modal" style="display: none;">
  <div class="modal-dialog">
    <div class="loginmodal-container">
      <h1>Login to Your Account</h1><br>
      <form method="post">
        {% csrf_token %}
        <input id="id_username" type="text" name="username" placeholder="Username">
				<input id="id_password" type="password" name="password" placeholder="Password">
				<input type="submit" name="login" class="login loginmodal-submit" value="Login">
			</form>

      <div class="login-help">
        <a href="#">Register</a> - <a href="#">Forgot Password</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
