{% extends 'base_admin.html' %}
{% block title %}Regiser Conference{% endblock %}
{% block content %}
<!-- line modal -->
<div class="modal fade" data-backdrop = 'static' data-keyboard="false" id = "loginmodal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
        <h3 class="modal-title" id="lineModalLabel">Register Conference</h3>
      </div>
      <div class="modal-body">
        <!-- content goes here -->
        <form method="post" role="form" enctype = "multipart/form-data">
           {% csrf_token %}
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" name="Title" id="id_Title" placeholder="Title" required>
              <span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group" data-validate="length" data-length="130">
              <textarea  type="text" class="form-control" name="Description" id="id_Description" placeholder="Description" required></textarea>
              <span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <select class="form-control" id="id_Speaker" name="Speaker" placeholder="Speaker" required>
                <option value="">Speaker</option>
                {% for p in Speaker %}
                <option value = {{p.id}}>{{p.Degree}}. {{p.Name}}</option>
                {% endfor%}
              </select>
              <span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group" data-validate="date">
              <input type="text" class="form-control" name="Date" id="id_Date" placeholder="Date" required>
              <span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group" data-validate="time">
              <input type="text" class="form-control" id="id_Time" name="Time" placeholder="Time" required>
              <span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>
            </div>
          </div>
          <div class="form-group">
            <label for="id_Image">Picture:</label>
            <input id="id_Image" name="Image" type="file" />
          </div>
        </div>
        <div class="modal-footer">
          <div class="btn-group btn-group-justified" role="group" aria-label="group button">
            <div class="btn-group" role="group">
              <button type="reset" class="btn btn-default">Cancel</button>
            </div>
            <div class="btn-group" role="group">
              <button type="submit" class="btn btn-default btn-hover-green">Save</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
